name: Serverless CI/CD Deployment

on:
    push:
        branches:
            - main


jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout Code
          uses: actions/checkout@v3
        
        - name: Setup Terraform
          uses: hashicorp/setup-terraform@v2

        - name: Terraform Init
          run: terraform init
          working-directory: infrastructure

        - name: Terraform Apply
          run: terraform apply -auto-approve
          working-directory: infrastructure